@page
@model myStore.Pages.login.dashboardModel
@{
    <body class="bg-warning">
        <div class="container-fluid ">
            <div class="row mt-5 text-light text-center" style="width: 100%; margin: auto; display: flex;">
                <div class="col-lg-4 bg-dark text-center" style="margin: auto; margin-top: 150px;">
                    <a href="/login/index" style="text-decoration: none; color: white;">
                        <br><br><br><br>
                        <h4>Customers Login</h4>
                        <br><br><br><br>
                    </a>

                </div>
                <div class="col-lg-4 bg-dark text-center" style="margin: auto; margin-top: 150px;">
                    <a href="/login/admin" style="text-decoration: none; color: white;">
                        <br><br><br><br>
                        <h4>Admin Login</h4>
                        <br><br><br><br>
                    </a>
                </div>
            </div>
        </div>
     </body>
}
