@page
@model myStore.Pages.admin.IndexModel
@{
}
<body style="background-color:#eef07d">
    <div class="container-fluid">
        <div class="row mt-5 text-light text-center" style="width: 100%; margin: auto; display: flex;">
            <div class="col-lg-3 bg-dark text-center" style="margin: auto; margin-top: 150px;">
                <a href="/admin/customerDetails" style="text-decoration: none; color: white;">
                    <br><br><br><br>
                    <h4>View List of Customers</h4>
                    <br><br><br><br>
                </a>

            </div>
            <div class="col-lg-3 bg-dark text-center" style="margin: auto; margin-top: 150px;">
                <a href="/admin/orderDetails" style="text-decoration: none; color: white;">
                    <br><br><br><br>
                    <h4>View Order List</h4>
                    <br><br><br><br>
                </a>
            </div>
            <div class="col-lg-3 bg-dark text-center" style="margin: auto; margin-top: 150px;">
                <a href="/admin/flowerDetails" style="text-decoration: none; color: white;">
                    <br><br><br><br>
                    <h4>View Flower List</h4>
                    <br><br><br><br>
                </a>
            </div>
        </div>
    </div>
</body>