@page
@model myStore.Pages.customer.orderModel
@{
}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3>Booking</h3>
                </div>
                @if (Model.errorMessage.Length > 0)
                {
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <strong>@Model.errorMessage</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
                    </div>
                }
                <div class="card-body" style="background-color:#eef07d">
                    <form method="post">
                        <br />
                        <br />
                        <br />
                        <div class="form-group">
                            <label for="customerName">Name</label>
                            <input type="text" class="form-control" id="customerName" placeholder="Enter your name" name="name" value="" />
                        </div>
                        <br />
                        <div class="form-group">
                            <label for="address">Date</label>
                                <input type="date" class="form-control" id="address" placeholder="" name="date" value="">
                        </div>
                        <br />
                        <div class="form-group">
                            <label>Quantity</label>
                            <input type="text"class="form-control" placeholder="" name="quantity" value="">
                        </div>
                        <br />
                        <div class="form-group">
                            <label for="email">Flower Name</label>
                            <input type="text" class="form-control" id="email" placeholder="Enter Flower Name" name="f_name" value="" />
                        </div>
                        @if (Model.successfullMessage.Length > 0)
                        {
                            <div class="row mb-3">
                                <div class="col-sm-9">
                                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                                        <strong>@Model.successfullMessage</strong>
                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
                                    </div>
                                </div>
                            </div>

                        }
                        <br />
                        <button type="reset" class="btn btn-dark">Cancel</button>
                        <input type="submit" value="Submit" class="btn btn-primary" />
                        <br /><br />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Include Bootstrap JS and Popper.js -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>